<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:camel="http://camel.apache.org/schema/spring" xmlns:amq="http://activemq.apache.org/schema/core"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-${org.springframework.base.version}.xsd
        http://camel.apache.org/schema/spring
        http://camel.apache.org/schema/spring/camel-spring.xsd
        http://activemq.apache.org/schema/core
        http://activemq.apache.org/schema/core/activemq-core.xsd">

	<bean class="java.lang.String" id="ConztanzConnectionFactoryPrimaryJNDIName">
		<constructor-arg value="#{ConztanzJmsJNDINameBase + 'test.ConnectionFactory'}"/>
	</bean>
	<bean class="java.lang.String" id="ConztanzDefaultDestinationPrimaryJNDIName">
		<constructor-arg value="#{ConztanzJmsJNDINameBase + 'test.DefaultDestinationPrimary'}"/>
	</bean>
	<bean class="java.lang.String" id="LifecycleInComingQJNDIName">
		<constructor-arg value="#{ConztanzJmsJNDINameBase + 'test.ConnectLifecycle'}"/>
	</bean>

	<bean class="com.conztanz.j2ee.utils.JndiExporter" id="initJmsResourcesJNDI">
		<property name="jndiMapping">
			<map>
				<entry key="#{ConztanzConnectionFactoryPrimaryJNDIName}"  value-ref="ConztanzConnectionFactoryPrimaryJNDI"/>
				<entry key="#{ConztanzDefaultDestinationPrimaryJNDIName}" value-ref="LifecycleDestinationJNDI"/>
				<entry key="#{LifecycleInComingQJNDIName}" value-ref="LifecycleDestinationJNDI"/>
			</map>
		</property>
		<property name="standAlone" value="true"/>
	</bean>

	<amq:xaConnectionFactory id="ConztanzConnectionFactoryPrimaryJNDI"
							 brokerURL="tcp://activemq-cz-test.conztanz.com:61616?jms.prefetchPolicy.all=10"/>

	<amq:queue id="LifecycleDestinationJNDI" physicalName="TEST.connect.Lifecycle"/>
	<amq:queue id="LifecycleDLQDestinationJNDI" physicalName="TEST.connect.Lifecycle.DLQ"/>

	<!-- JMS destination waiter -->
	<!--TODO MOVE outside of resources -->
	<bean class="com.conztanz.jms.ConztanzJMSWaitREST" id="ConztanzJMSWaitREST">
		<property name="server"        value="${communication.jms.server.name.test}"/>
		<property name="port"          value="${communication.jms.server.port.jolokia.test}"/>
		<property name="authorization" value="${communication.jms.server.authorization.test}"/>
		<property name="waitTimeout"   value="${communication.jms.server.waitTimeout.test}"/>
	</bean>

	<bean class="com.conztanz.connect.camel.ConztanzJMSStatsREST" id="ConztanzJMSStatsREST">
		<property name="server"        value="${communication.jms.server.name.test}"/>
		<property name="port"          value="${communication.jms.server.port.jolokia.test}"/>
		<property name="authorization" value="${communication.jms.server.authorization.test}"/>
		<property name="waitTimeout"   value="${communication.jms.server.waitTimeout.test}"/>
	</bean>
</beans>