<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-${org.springframework.base.version}.xsd">

	<bean id="PFSIncomingMessageFactory" class="com.conztanz.connect.factory.PFSIncomingMessageFactory"
		scope="singleton" />
	<bean id="SBR14IncomingMessageFactory"
		class="com.conztanz.connect.factory.SBR14IncomingMessageFactory"
		scope="singleton" />

	<bean id="PFSSmooksTransformer"
		class="com.conztanz.connect.transform.travel.airimp.PFSSmooksTransformer"
		scope="singleton" />
	<bean id="SBR141EDI2XMLSmooksTransformer"
		class="com.conztanz.connect.transform.travel.sbr.SBR141EDI2XMLSmooksTransformer"
		scope="singleton" />
	<bean id="EdifactCleaner"
		class="com.conztanz.connect.transform.travel.sbr.EdifactCleaner"
		scope="singleton" />

	<bean id="PFSConnectInitialzer" class="com.conztanz.connect.PFSConnectInitializer"
		scope="singleton" />
	<bean id="SBR14ConnectInitializer" class="com.conztanz.connect.SBR141ConnectInitializer"
		scope="singleton" />

	<bean id="sBR141ConnectIdentifier" class="com.conztanz.connect.identification.SBR141ConnectIdentifier"
		scope="singleton" />
	<bean id="pFSConnectIdentifier" class="com.conztanz.connect.identification.PFSConnectIdentifier"
		scope="singleton" />
	<bean id="sBR141UnMarshaller"
		class="com.conztanz.connect.marshalling.SBR141UnMarshaller"
		scope="singleton" />
	<bean id="pFSUnMarshaller"
		class="com.conztanz.connect.marshalling.PFSUnMarshaller"
		scope="singleton" />

</beans>