<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans                            
	http://www.springframework.org/schema/beans/spring-beans-${org.springframework.base.version}.xsd">

	<bean id="SimpleMessageIncomingMessageFactory" class="com.conztanz.connect.factory.SimpleIncomingMessagFactory" scope="singleton" />
    <bean id="SimpleMessageSmooksTransformer" class="com.conztanz.connect.transform.SimpleMessageConnectSmooksTransformer" scope="singleton" />
    <bean id="SimpleMessageConnectInitialzer" class="com.conztanz.connect.initialize.SimpleIncomingMessageConnectInitializer" scope="singleton" />
   
</beans>